.nav{
    
    flex: content;
    padding: 14px;
    
    justify-items: center;
    
}
.items{
  
    padding-left: 10px;
    font-size: 18px;
    text-decoration: none;
    
    cursor: pointer;
    color: azure;
}
.header{
    justify-items: center;
    background-color: rgb(20, 17, 17);
}